.navbar-header {
    display: grid;
    grid-template-columms: repeat(6, 1fr);
    margin: 1rem;
}

.navbar-header ul {
    display: flex;
    justify-content: space-around;
    
}

.navbar-header ul li {
    list-style:none;
}
.navbar-header a {
    text-decoration-line:none;
}